<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
  <h1 class="cover-heading">It's the day you've been looking forward to since Friday.</h1>
  <hr class="my-4">
  <img src="http://ih1.redbubble.net/image.201547254.6149/flat,800x800,075,f.jpg" class="rounded mx-auto d-block"" alt="Responsive frog">
  <p class="lead text-center">
    <audio controls>
      <source src="https://sound.peal.io/ps/audios/000/008/085/original/youtube_8085.mp3?151838822" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
  </p>
</div>
