<div class="jumbotron">
  <h1 class="display-4">What day is it?</</h1>
  <p class="lead">It's the day you've been looking forward to since Friday.</p>
  <hr class="my-4">
  <img src="http://ih1.redbubble.net/image.201547254.6149/flat,800x800,075,f.jpg" class="rounded mx-auto d-block"" alt="Responsive frog">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Ahhh</a>
  </p>
</div>
